// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jumbotron { 
    background-image : url(https://www.gl-events.com/sites/default/files/styles/hero_background_image/public/2018-12/mentions_legales.jpg?itok=0OvQAYNJ)
}

.sizelimit {
    margin-right: 70px;
    margin-left: 50;

}

.cardevent {
    word-wrap: break-word;
}