// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cardprofil {
    width: 150rem;
    margin: 0 auto;
    justify-content: center;
    word-wrap: break-word;
}

